{
  "importOrder": ["^~/.*", "^\\./.*"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 120,
  "singleQuote": false,
  "trailingComma": "all"
}
