@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Achemine';
  src: url('../fonts/achemine-regular-webfont.woff2') format('woff2'),
       url('../fonts/achemine-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Achemine';
  src: url('../fonts/achemine-bold-webfont.woff2') format('woff2'),
       url('../fonts/achemine-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-display: block;
  font-family: "0808B2E1";
  src: url("../fonts/girouette/0808B2E1.ttf");
}

@font-face {
  font-display: block;
  font-family: "1310C2E1";
  src: url("../fonts/girouette/1310C2E1.ttf");
}

@font-face {
  font-display: block;
  font-family: "1407SUPX";
  src: url("../fonts/girouette/1407SUPX.ttf");
}

@font-face {
  font-display: block;
  font-family: '14LUPLAN';
  src: url('../fonts/girouette/14LUPLAN.ttf');
}

@font-face {
  font-display: block;
  font-family: "1507SUPX";
  src: url("../fonts/girouette/1507SUPX.ttf");
}

@font-face {
  font-display: block;
  font-family: "1508C2E1";
  src: url("../fonts/girouette/1508C2E1.ttf");
}

@font-face {
  font-display: block;
  font-family: "1508SUPX";
  src: url("../fonts/girouette/1508SUPX.ttf");
}

@font-face {
  font-display: block;
  font-family: "1510N2E1";
  src: url("../fonts/girouette/1510N2E1.ttf");
}

@font-face {
  font-display: block;
  font-family: "1513B3E1";
  src: url("../fonts/girouette/1513B3E1.ttf");
}

@font-face {
  font-display: block;
  font-family: "1710SUPX";
  src: url("../fonts/girouette/1710SUPX.ttf");
}

@font-face {
  font-display: block;
  font-family: "METRO";
  src: url("../fonts/girouette/METRO.ttf");
}

html {
  font-family: 'Achemine', system-ui, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 80% 4%;
      --foreground: 213 31% 91%;

      --muted: 223 47% 11%;
      --muted-foreground: 215.4 16.3% 56.9%;

      --popover: 224 71% 4%;
      --popover-foreground: 215 20.2% 65.1%;

      --card: 224 71% 4%;
      --card-foreground: 213 31% 91%;

      --border: 216 34% 17%;
      --input: 216 34% 17%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 1.2%;

      --secondary: 222.2 47.4% 11.2%;
      --secondary-foreground: 210 40% 98%;

      --accent: 216 34% 17%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 63% 31%;
      --destructive-foreground: 210 40% 98%;

      --ring: 216 34% 17%;

      --radius: 0.5rem;
    }
  }
}

.leaflet-fade-anim .leaflet-popup {
  transition-duration: 0.15s !important;
}

.leaflet-container a {
  color: inherit !important;
}

.leaflet-popup-content {
  margin: 0 !important;
  padding: 0 0 10px 0 !important;
  width: max-content !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 6px !important;
  padding: 0 !important;
}
